.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  border-radius: var(--mantine-radius-md);
  transition: background-color 0.2s ease;
}

.user:hover, .user.active {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.link {
  text-align: center;
  text-decoration: none;
  color: inherit;
}