.card {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xl);
  color: light-dark(var(--mantine-color-dark-7), var(--mantine-color-dark-0));
  border: 2px solid var(--mantine-color-dark-0);
  border-radius: var(--mantine-radius-md);
  transition: transform 0.4s ease;
}

.card:hover {
  transform: scale(1.01);
}

.link {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--mantine-color-dark-0);
}

.avatarOverlay {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
}

.avatar:hover .avatarOverlay {
  opacity: 1;
  transform: scale(1.03);
}

