.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  border-radius: var(--mantine-radius-md);
  transition: background-color 0.2s ease;
}
.user:hover {
  cursor: pointer;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.user.active {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.preview {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-dark-7), var(--mantine-color-dark-0));
  border: 1px solid var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);
  transition: transform 0.4s ease;
}

.link {
  text-align: center;
  text-decoration: none;
  color: inherit;
}